#ekran{
    width: 100%;
    height: 620px;
}
.esasDiv{
    width: 35%;
    height: 150px;
    border:1px solid grey;
    padding: 10px;
}
.divs>div{
    float: left;
    background-color: rgb(143, 139, 139);
    width: 60px;
    height: 25px;
    border-radius:20px;
    margin-left: 10px;
    cursor: pointer;
}
.yumrudiv{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
